@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Montserrat:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://img.freepik.com/vetores-gratis/vetor-de-fundo-de-padrao-geometrico-branco-e-dourado_53876-140726.jpg?w=2000);
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.card::before {
    content: '';
    display: block;
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    box-shadow: 0 0 50px 10px #7901a8 inset;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 270px;
    background: linear-gradient(-25deg,#8A05BE, #8A05BE, #8A05BE);
    border-radius: 15px;
    color: white;
    position: relative;
    overflow: hidden;
    text-shadow: 0 2px 0 black;
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 50px -10px black;
    animation: cardAnimation 1s alternate infinite;
}

.card-center img {
    width: 80px;
    padding-left: 2rem;
}

.card-name {
    margin-top: 10px;
}

.card-bottom-left, .card-bottom-right {
    display: flex;
    flex-direction: column;
}

.card-bottom-left {
    gap: .7rem;
}

.card-number {
    font-family: 'Exo', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.card-bottom-right img {
    width: 130px;
    padding-left: 2rem;
}


@keyframes cardAnimation {
    from { transform: translateY(-15px)}
}


.card-top, .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-top svg {
    transform: rotate(90deg);
    width: 50px;
    height: 50px;
}

.card-title {
    font-size: 1.8rem;
    z-index: 1;
}

.card-center {
    z-index: 1;
}